<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <div class="col-md-10">
          Detalles Pago Proveedores
        </div>
        <div class="col-md-1 ml-2">

        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3" >
            <div class="form-group">
              <label for="nombre"> Tipo de Proveedor :  </label>
              <select class="form-control"    name="tproveedor_id"  
              (change)="filterTypeOfSupplier($event,'SupplierType')" 
              [(ngModel)]="selectedSupplierType">
              <option  value="0" selected> Todos </option>
              <option *ngFor="let tprov of tipoprovedor"   value="{{tprov.id}}">{{tprov.tipo_proveedor}}</option>
            </select>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="form-group">
              <label for="nombre"> Proveedor :  </label>
              <select class="form-control"    name="proveedor_id"  (change)="changeProveedor($event)">
              <option  value="0" selected> Todos </option>
              <option *ngFor="let prov of proveedores"   value="{{prov.id}}">{{prov.nombre}}</option> -->
            </select>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="form-group">
              <label for="nombre"> Sucursal :  </label>
              <select class="form-control"  name="sucursal_id"  (change)="changeSucursal($event)" >
              <option  value="0" selected> Todos </option>
              <option *ngFor="let sucursal of sucursales" value="{{sucursal.id}}">{{sucursal.nombre}}</option> -->
            </select>
            </div>
          </div>
          <div class="col-md-2 mt-4" >
            <button type="button" class="btn btn-outline-primary" (click)="buscarPagoProveedor()">Buscar</button>
          </div>

        </div>

        <div class="row">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th> Num Orden </th>
                  <th> Proveedor </th>
                  <th> Fecha Alta </th>
                  <th> Usuario Alta </th>
                  <th> Fecha Pago</th>
                  <th> Banco </th>
                  <th> # Cheque </th>
                  <th> # Transferencia </th>
                  <th> Recibe </th>
                  <th> # Remisiones </th>
                  <th> Acciones </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of this.data$">
                  <td> {{data.orden_id}} </td>
                  <td> {{data.proveedor}}</td>
                  <td> {{data.fecha_alta | date : 'dd/MM/yyy'}}</td>
                  <td> {{data.usuario_alta }}</td>
                  <td> {{data.fecha_pago | date : 'dd/MM/yyyy'}}</td>
                  <td> {{data.banco?data.banco:""}}</td>
                  <td> {{data.numero_cheque?data.numero_cheque:""}}</td>
                  <td> {{data.numero_transferencia?data.numero_transferencia:""}}</td>
                  <td> {{data.persona_recibe?data.persona_recibe:""}}</td>
                  <td> {{data.numero_remisiones}}</td>
                  <td style="text-align: center;">
                    <i class="fa fa-eye fa-2x"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
