<div class="row">
    <div class="col-md-12">
  
      <div class="card">
        <div class="card-header">
          <div class="col-md-10">
            Órdenes de activas
          </div>
          <div class="col-md-1 ml-2">
            <button type="button" class="btn btn-outline-primary" (click)="CreateOrder()">Nuevo</button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="table table-bordered table-striped mb-0">
                <thead>
                  <tr>
                    <th> Orden </th>
                    <th> Proveedor </th>
                    <th> Usuario </th>
  
                    <th> Fecha Alta </th>
                    <th> Estatus </th>
  
                    <th> Total Remisiones </th>
                    <th> Monto Total </th>
                    <th> Forma de Pago </th>
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of this.data">
                    <td>{{data.orden_id}}</td>
                    <td>{{data.proveedor}}</td>
                    <td>{{data.usuario_alta}}</td>
  
                    <td>{{data.fecha_alta | date:'dd/MM/yyyy'}}</td>
                    <td>{{data.estatus}}</td>
                    <td>{{data.total_remisiones}}</td>
                    <td>{{data.monto_total | currency: 'USD' | lowercase}}</td>
                    <td>{{data.forma_pago}}</td>
                    <td style="text-align: center;" >
                      <div [ngStyle]="{'color':data.estado_orden_id==1 ? 'black':'gray'}">
                        <i class="fa fa-edit fa-2x" style="cursor: pointer;" 
                          (click)="data.estado_orden_id==1 ? editarOrden(data.orden_id):false">
                        </i>
                        <i class="fa fa-trash fa-2x" style="cursor: pointer;" 
                          (click)="data.estado_orden_id==1 ? open(content,data.orden_id):false">
                        </i>
                        <i class="fa fa-money fa-2x" style="cursor: pointer;" 
                          (click)="data.estado_orden_id==1 ? TipoPago(pago,data.orden_id):false">
                        </i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Eliminar registro</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">¿Está seguro de querer eliminar el registro seleccionado?</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Eliminar</button>
    </div>
  </ng-template>

  <ng-template #pago let-modal>
    <div>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Registro de Pago [ {{selectedOrder.forma_pago}} ]</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div  class="modal-body">
          <form #form="ngForm" class="form-group">

            <div class="row">
              <div class="col-md-12">
                <label for="persona_recibe">Persona que recibe:<span class="required">*</span></label>
                <input id="persona_recibe" name="persona_recibe" class="form-control"
                    #persona_recibe="ngModel"
                    [(ngModel)]="recepcion.persona_recibe"
                    [required]="true"
                    [disabled]="(false) || isView"
                    [status]="persona_recibe.dirty ? (persona_recibe.invalid  ? 'danger' : 'success') : ''">
                  <ng-container *ngIf="persona_recibe.invalid && persona_recibe.dirty">
                    <p class="error-message text-danger" *ngIf="persona_recibe.errors?.required">
                      Se requiere registrar el nombre de la persona que recibe el pago.</p>
                  </ng-container>
              </div>
            </div>
            <div class="row" *ngIf="selectedOrder.forma_pago==='Cheque'">
              <div class="col-md-12">
                <label for="numero_cheque"> Número de cheque: <span class="required">*</span></label>
                <input id="numero_cheque" name="numero_cheque" class="form-control"
                    #numero_cheque="ngModel"
                    [(ngModel)]="recepcion.numero_cheque"
                    [required]="true"
                    [disabled]="(false) || isView"
                    [status]="numero_cheque.dirty ? (numero_cheque.invalid  ? 'danger' : 'success') : ''">
                  <ng-container *ngIf="numero_cheque.invalid && numero_cheque.dirty">
                    <p class="error-message text-danger" *ngIf="numero_cheque.errors?.required">
                        Se requiere número de cheque para aplicar pago.</p>
                  </ng-container>
              </div>
            </div>
            <div class="row" *ngIf="selectedOrder.forma_pago==='Transferencia'">
              <div class="col-md-12">
                <label for="numero_transferencia"> Número de transferencia: <span class="required">*</span></label>
                <input id="numero_transferencia" name="numero_transferencia" class="form-control"
                    #numero_transferencia="ngModel"
                    [(ngModel)]="recepcion.numero_transferencia"
                    [required]="true"
                    [disabled]="(false) || isView"
                    [status]="numero_transferencia.dirty ? (numero_transferencia.invalid  ? 'danger' : 'success') : ''">
                  <ng-container *ngIf="numero_transferencia.invalid && numero_transferencia.dirty">
                    <p class="error-message text-danger" *ngIf="numero_transferencia.errors?.required">
                      Se requiere número de transferencia para aplicar pago.</p>
                  </ng-container>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="col-md-12" for="comentarios">Comentarios:</label>
                <textarea class="form-control" id="comentarios" name="comentarios" 
                          [(ngModel)]="recepcion.comentarios" 
                          #comentarios="ngModel" 
                          rows="3"
                    [placeholder]="">
                </textarea>
              </div>
            </div>

         <div *ngIf="selectedOrder.forma_pago==='Efectivo'" class="modal-footer"> 
          <button type="button" class="btn btn-outline-dark" 
            [disabled]="(persona_recibe.errors?.required)"
            (click)="modal.close('Save click')">Aceptar
          </button>
        </div>
        <div *ngIf="selectedOrder.forma_pago==='Cheque'" class="modal-footer">
          <button type="button" class="btn btn-outline-dark" 
            [disabled]="(persona_recibe.errors?.required && 
                          numero_cheque.errors?.required)"
            (click)="modal.close('Save click')">Aceptar
          </button>
        </div>
       <div *ngIf="selectedOrder.forma_pago==='Transferencia'" class="modal-footer">
            <button type="button" class="btn btn-outline-dark" 
              [disabled]="(persona_recibe.errors?.required && 
                          numero_transferencia.errors?.required)"
              (click)="modal.close('Save click')">Aceptar
            </button>
        </div>
      </form>
    </div>       
    </div>
  </ng-template>