
<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <div class="col-md-10">
          Detalles
        </div>
        <div class="col-md-1 ml-2">
          <button type="button" class="btn btn-outline-primary" (click)="this.nuevoUsuario()">Nuevo</button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">


          <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0"
            datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th> Usuario </th>
                  <th> Nombre </th>
                  <th> Sucursal </th>
                  <th> Rol </th>
                  <th> Activo </th>
                  <th> Acciones </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of this.data">
                  <td> {{user.user}}</td>
                  <td> {{user.nombre}}</td>
                  <td> {{user.nombre_sucursal}} </td>
                  <td> {{user.rol.descripcion}} </td>
                  <th> {{user.activo == true ? "Activo" : "No activo"}} </th>
                  <td style="text-align: center;">
                      <i class="fa fa-edit fa-2x" (click)="editarUsuario(user.id)"></i>
                      <i class="fa fa-trash fa-2x" (click)="open(content, user.id);"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar registro</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">¿Está seguro de querer eliminar el registro seleccionado?</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Eliminar</button>
  </div>
</ng-template>

