<div class="row">
  <div class="col-md-12">

    <div class="card">
      <div class="card-header">
        <div class="col-md-10">
          Detalles Remisiones Vencidas
        </div>
        <div class="col-md-1 ml-2">

        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-5" >
            <div class="form-group">
              <label for="nombre"> Proveedor :  </label>
              <select class="form-control"    name="proveedor_id"  (change)="changeProveedor($event)">
              <option  value="0" selected> Todos </option>
              <option *ngFor="let prov of proveedores"   value="{{prov.id}}">{{prov.nombre}}</option> -->
            </select>
            </div>
          </div>
          <div class="col-md-5" >
            <div class="form-group">
              <label for="nombre"> Sucursal :  </label>
              <select class="form-control"  name="sucursal_id"  (change)="changeSucursal($event)" >
              <option  value="0" selected> Todos </option>
              <option *ngFor="let sucursal of sucursales" value="{{sucursal.id}}">{{sucursal.nombre}}</option> -->
            </select>
            </div>
          </div>
          <div class="col-md-2 mt-4" >
            <button type="button" class="btn btn-outline-primary" (click)="buscarVencidos()">Buscar</button>
          </div>

        </div>

        <div class="row">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th> Num Remision </th>
                  <th> Sucursal </th>
                  <th> Proveedor </th>
                  <th> Forma Pago </th>
                  <th> Fecha Alta </th>
                  <th> Fecha Credito </th>
                  <th> Dias Vencimiento </th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of this.data$">
                  <td> {{data.remision_id}} </td>
                  <td> {{data.sucursal}}</td>
                  <td> {{data.proveedor}}</td>
                  <td> {{data.forma_pago }}</td>
                  <td> {{data.fecha_alta | date : 'dd/MM/yyyy'}}</td>
                  <td> {{data.fecha_credito | date : 'dd/MM/yyyy'}}</td>
                  <td> {{data.dias_vencimiento}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
